@font-face {
  font-family: GoldieRainbow;
  src: url("../fuentes/GoldieRainbow.ttf"); }
body {
  background: #f6d6cd9d; }

.barra {
  background: #f6d6cd; }

.TextoPag {
  font-family: GoldieRainbow;
  color: #303030;
  font-size: 2.5rem;
  -webkit-transition: .5s;
  transition: .5s; }

.TextoPag:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #2b1612; }

.barraFuentes {
  color: #303030;
  font-size: 1.2rem;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Montserrat', sans-serif; }

.barraFuentes:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #2b1612; }

.go-top-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  z-index: -1; }

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: linear-gradient(150deg, #7c482e, #532d1a);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568); }

.go-top-button i {
  position: absolute;
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: white;
  -webkit-transition: .5s;
  transition: .5s; }

.show {
  z-index: 10; }

.show .go-top-button {
  -webkit-animation: popup .5s ease-in-out;
          animation: popup .5s ease-in-out;
  width: 4.6rem;
  height: 4.6rem;
  z-index: 11; }

.show i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1); }

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 0rem; }
  50% {
    width: 5.2rem;
    height: 5.2rem; }
  100% {
    width: 4.6rem;
    height: 4.6rem; } }

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem; }
  50% {
    width: 5.2rem;
    height: 5.2rem; }
  100% {
    width: 4.6rem;
    height: 4.6rem; } }
.mensaje {
  font-family: 'Inconsolata', monospace;
  color: #7c482e;
  font-size: 2.5rem; }

.carrusel {
  height: 100%;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s; }

.carruselimagen {
  height: 60vh;
  border: 0px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 8px #0000008c;
          box-shadow: 5px 5px 8px #0000008c; }

.carrusel:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.Productos {
  font-family: 'Unica One', cursive;
  color: #532d1a;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 8rem; }

.Titulos {
  font-family: 'Pompiere', cursive;
  font-size: 3rem;
  color: #532d1a; }

.productoPaquete {
  height: 5rem; }

.caja {
  border-radius: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer; }

.caja:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.paquete {
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: #2b1612; }

.paqueteinfo {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  color: #2b1612; }

.precio {
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  color: #2b1612;
  font-weight: bolder; }

.cajaGaleria {
  margin: 1rem; }

.imagenes {
  background: #ffffff;
  height: 20rem;
  border: px solid;
  padding: 12px;
  -webkit-transition: .2s;
  transition: .2s; }

.imagenes:hover {
  -webkit-box-shadow: 5px 5px 8px #00000062;
          box-shadow: 5px 5px 8px #00000062;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.pie {
  background: #323232;
  background: -webkit-gradient(linear, left top, left bottom, from(#fac6b7), to(#f6d6cd));
  background: linear-gradient(180deg, #fac6b7, #f6d6cd);
  padding-left: 7rem;
  padding-right: 7rem;
  width: 100%;
  height: 100%; }

.fuenteA {
  font-size: 1.3rem;
  color: #303030; }

.fuenteB {
  font-size: 1rem;
  color: #303030; }

.fuenteC {
  font-size: 1rem;
  color: #7c482e;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none; }

.fuenteC:hover {
  color: #2b1612;
  text-shadow: 4px 4px 4px #7c482e;
  text-decoration: none; }

.fuenteD {
  font-size: 1.1rem;
  color: #7c482e;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-family: 'Ubuntu', sans-serif;
  text-align: left; }

.fuenteD a {
  color: #7c482e;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s; }

.fuenteD a:hover {
  color: #2b1612;
  text-shadow: 4px 4px 4px #7c482e; }

.redsocial {
  font-size: 3rem;
  color: #7c482e;
  -webkit-transition: all .5s;
  transition: all .5s; }

.redsocial:hover {
  color: #2b1612;
  text-shadow: 4px 4px 4px #7c482e; }

.piepagina {
  background: -webkit-gradient(linear, left top, right top, from(#222222), to(black));
  background: linear-gradient(90deg, #222222 0%, black 100%); }

.desarrollador {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 1rem;
  -webkit-transition: .5s;
  transition: .5s; }

.desarrollador:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #2b1612;
  color: white; }

.centrar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.padre {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hijo {
  margin: 0 auto; }

/*# sourceMappingURL=estilos.css.map */